* {
    box-sizing: border-box;
}
.navbar:before,
.navbar:after {
    content: " ";
    display: table;
}
.navbar:after {
    clear: both;
}
.navbar {
    *zoom: 1;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}
nav {
    height: 40px;
    width: 100%;
    background: #455868;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid #283744;

}
nav ul {
    padding: 0;
    margin: 0 auto;
    height: 40px;
}
nav li {
    display: inline;
    float: left;
}
nav a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    text-shadow: 1px 1px 0px #283744;
}
nav li a {
    border-right: 1px solid #576979;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}
nav a:hover, nav a:active {
    background-color: #8c99a4;
    cursor: pointer;
}
nav a.show {
    display: none;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bgimg-1 {
    background-image: url("../images/camera.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("../images/vintage.jpg");
    min-height: 400px;
}

.bgimg-3{
    background-image: url("../images/vintage.jpg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.contentarea{
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
}
.gallery{
    text-align:center;
    margin: 0 auto;
}
.area{
    padding: 0.01em 16px;
}
.container{
    padding-top: 64px;
    padding-bottom: 64px;
}
.gallery:after, .area:after, .container:after{
    content: "";
    display: table;
    clear: both;
}
.h3text1{
    text-align:center;
}

.col{
    float: left;
    width: 24.999%;
    padding: 0 8px;
}

img{
    width: 100%;
    border-radius: 5px;
    min-height: 192px;
    max-height: 192px;
}
.col img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.col:hover img {
    opacity: .5;
    cursor: pointer;
}
img:after{
    box-sizing: inherit;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}
#imgModal{
    min-height: 100%;
    max-height: 100%;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.divfooter{
    position:relative;
}
.footer{
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    border-radius: 5px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}
